<form  #form="ngForm"  NgNoValidate>
    <div >
    Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="text"ngModel name="name"size=30 required><br>
    </div>
    <div>
      Phone Number:
      <input type="text"ngModel name="phone" size=30 required><br>
    </div>
    <button (click)="Add(form.value)">Add</button>
    <button (click)="Delete(form.value)">Delete</button>
  </form>