<div class="profileform" *ngFor="let entry of list">
<div class="user-profile">
  <div class="profile">
       Name: <strong>{{entry.name}}</strong><br>
       Phone number : <i>{{entry.phone}}</i><br><br>
  </div>
</div>